!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
sql_mode = ""
#max_allowed_packet = 512M
#show_compatibility_56 = ON
#max_connections = 100

#query-cache-type = 0
#query-cache-size = 0

#innodb_buffer_pool_size = 8192M
#innodb_log_file_size = 512M

skip-name-resolve